:root{
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-background-color:#E5E5E5;
}


.page{
background-color: #E5E5E5;
color: var(--primary-text-color);
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.h1,h2,h3,h4,h5,h6{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    color: var(--accent-color) ;
    font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    line-height: 1,19px;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}
.logo:hover{???}

.accent{
color: black;
}
ul{
    list-style: none ;
}
/* .list{list-style: none ;} для отдельных элементов*/


/*.site-nav*/
.site-nav-list a{
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14px;
    text-decoration: none;
}
.site-nav-list .a:hover, 
.site-nav-list .a:focus{
    color: var(--accent-color);
}

.site-nav-list .a .current{
    color:var(--accent-color);
}

.section-title{
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1,5px;
    letter-spacing: 0.03em;

.text{
font-weight: 400;
font-size: 14px;
line-height: 1,7px;
}

.hero-title{
    color:var(--title-text-color);
    font-style: 400;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36px;
    text-align: center;
    background-color: #2F303A;
}
 
/*buttun*/
.button{
    color: var(--accent-color);
    background-color: #E5E5E5;
    font-size: 16px;
    line-height: 1,8px;
    font-weight: bold;
    padding: 12px 24px;
    display: inline-block;
    border: 1px solid black;
}

.button.primary {
    background-color: var(--accent-color);
    color: #E5E5E5;
    border-color: transparent;
}


/*шрифты страница портфолио и студия
шапка веб студия - Raleway
шапка и основное - Roboto
футер- Roboto
*/